  * {
      margin: 0px;
      padding: 0px;
      accent-color: red;
      caret-color: white;
      color: rgb(255, 255, 255);
  }

  body {

      background-color: #363636;
      font-family: sans-serif;
      letter-spacing: 1px;
      font-size: 14px;
  }

  .container {
      /* background-color: blueviolet; */
      /* height: 200px; */
      margin: auto;
      width: 80%;
  }

  .header {
      /* background-color: blue; */
      text-align: center;
      text-align: center;
      text-transform: uppercase;
      margin-top: 15px;
  }

  .input {
      margin-top: 12px;
      /* background-color: blue; */

  }

  .input *:focus {
      transform: scaleX(1.105);
      transition: all 0.3s ease-in-out;
      margin: 0px 2px 0px 2px;
      background-color: #0f0f0f;
  }

  .input * {
      margin-top: 10px;
      outline: none;
      border-radius: 10px;
      border: none;
      height: 30px;
      background-color: #292828;
      padding: 5px;
      color: rgb(255, 255, 255);
  }

  #title,
  #count,
  #category,
  #search {
      width: 100%;
      margin: 10px 2px 0px 2px;
  }

  #price,
  #taxes,
  #ads,
  #discount {
      display: inline-block;
      width: 19%;
  }

  #btn1 {
      margin: 6px;
      width: 100%;
      outline: none;
      border: none;
      background-color: rgb(102, 2, 77);
      border-radius: 10px;
      padding: 8px;
      letter-spacing: 1px;
      transition: all 0.3s ease-in-out;
  }

  #upbtn,
  #delbtn {
      outline: none;
      border: none;
      background-color: rgb(102, 2, 77);
      border-radius: 10px;
      padding: 8px;
      letter-spacing: 1px;
      transition: all 0.3s ease-in-out;
  }

  #btn1:hover,
  #upbtn:hover,
  #delbtn:hover ,#deleteAll:hover{
      background-color: rgb(124, 5, 94);
      letter-spacing: 1.5px;
      transition: all 0.3s ease-in-out;
  }

  #searchTitle,
  #searchCategory {
      margin: 10px;
      width: 45%;
      outline: none;
      border: none;
      background-color: rgb(102, 2, 77);
      border-radius: 10px;
      padding: 8px;
      letter-spacing: 1px;
      transition: all 0.3s ease-in-out;
      margin-left: 14px;
  }
#update,#delete {
    width:100%;
    background-color: rgb(102, 2, 77);
      transition: all 0.3s ease-in-out;
}

  #deleteAll {
      text-align: center;
      width: 100%;
      background-color: rgb(102, 2, 77);
height: 20px;
  }

  #searchTitle:hover,
  #searchCategory:hover {
      background-color: rgb(124, 5, 94);
      letter-spacing: 3px;
      transition: all 0.3s ease-in-out;
  }

  /* #searchTitle:focus,
  #searchCategory:focus {
      background-color: rgba(14, 150, 9, 1);
      letter-spacing: 3px;
      transition: all 0.3s ease-in-out;
  } */

  .output *:focus {
      transform: scaleX(1.105);
      transition: all 0.3s ease-in-out;
      margin: 0px 2px 0px 2px;
      background-color: #0f0f0f;
  }

  .output * {
      margin-top: 10px;
      outline: none;
      border-radius: 10px;
      border: none;
      height: 30px;
      background-color: #292828;
      padding: 5px;
      color: rgb(255, 255, 255);
  }

  #table thead {
      text-transform: uppercase;
  }

  #table {
      width: 100%;
      text-align: center;
  }